html,
body {
    overflow-x: hidden;
}

@supports (font-variation-settings: normal) {
    html,
    body {
        font-family: sans-serif;
    }
}

.external-link {
    width: 30px;
}

.cosyl-logo {
    max-width: 200px;
}

@media screen and (max-width: 992px) {
    .cosyl-logo {
        max-width: 100px;
    }
}

/* @media screen and (max-width: 992px) {

    .contributors,
    .projects {
        flex-direction: column;
    }
} */

.contributor,
.project {

}

.funder-logo {
    min-height: 100px;
    max-width: 300px;
    width: auto;
}
